<h1>add to a list</h1>

<% form_for(@listing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :user_id, @users %><%= f.label :user_id, 'who' %>
  </p>
  <p>
    <%= f.select :list_id, @lists %><%= f.label :list_id, 'which list' %>
  </p>
  <p>
    <%= f.submit "add" %>
  </p>
<% end %>
