<h1>join our community</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name, 'full name' %><br />
    <%= f.text_field :first_name, :size => 14 %>
    <%= f.text_field :middle_name, :size => 14 %>
    <%= f.text_field :last_name, :size => 14 %>
  </p>
  <p>
    <%= f.text_field :email %><%= f.label :email, 'email' %>
  </p>
  <p>
    <%= f.password_field :password, :size => 20 %><%= f.label :password, 'password' %>
  </p>
  <p>
    <%= f.text_field :phone, :size => 10 %><%= f.label :phone, 'phone number' %>
  </p>
  <p>
    <%= f.text_field :address %><%= f.label :address, 'address' %>
  </p>
  <p>
    <%= f.text_field :address2 %><%= f.label :address2, 'line 2' %>
  </p>
  <p>
    <%= f.text_field :city, :size => 14 %><%= f.label :city, 'city' %>
<%= f.text_field :state, :size => 2 %><%= f.label :state, 'state' %>
    <%= f.text_field :zip, :size => 5 %><%= f.label :zip, 'zip' %>
  </p>
  <p>
    <%= f.submit "join" %>
  </p>
<% end %>
