<p>
  <%=h @user.first_name %> <%=h @user.middle_name %> <%=h @user.last_name %>
</p>
<hr>
<% @user.managed_restaurants.each do |r| %>
  <%= link_to_name r %>
<% end %>
<hr>
<% @user.managed_lists.each do |l| %>
  <%= link_to_name l %>
<% end %>
