<h1>ban a patron from returning</h1>

<% form_for(@ban) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :user_id, @users %><%= f.label :user_id, 'who is banned' %>
  </p>
  <p>
    <%= f.select :restaurant_id, @restaurants %><%= f.label :restaurant_id, 'and from where' %>
  </p>
  <p>
    <%= f.submit "issue ban" %>
  </p>
<% end %>
