<h1>Listing meals</h1>

<table>
  <tr>
    <th>Restaurant</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Capacity</th>
  </tr>

<% for meal in @meals %>
  <tr>
    <td><%=h meal.restaurant_id %></td>
    <td><%=h meal.start_time %></td>
    <td><%=h meal.end_time %></td>
    <td><%=h meal.capacity %></td>
    <td><%= link_to 'Show', meal %></td>
    <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
    <td><%= link_to 'Destroy', meal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New meal', new_meal_path %>
