<h1>scheduled meals for approved patrons</h1>

<table>
  <tr>
    <th>Restaurant</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Capacity</th>
  </tr>

<% for meal in @meals %>
  <tr>
    <td><%= link_to_name meal.restaurant %></td>
    <td><%=h meal.start_time %></td>
    <td><%=h meal.end_time %></td>
    <td><%=h meal.capacity %></td>
    <td><%= link_to 'Show', meal %></td>
  </tr>
<% end %>
</table>
