<h1>schedule a meal</h1>

<% form_for(@meal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.select :restaurant_id, @restaurants %><%= f.label :restaurant_id, 'restaurant' %>
  </p>
  <p>
    <%= f.datetime_select :start_time %><%= f.label :start_time, 'starting at' %>
  </p>
  <p>
    <%= f.datetime_select :end_time %><%= f.label :end_time, 'ending at' %>
  </p>
  <p>
    <%= f.text_field :capacity, :size => 5 %><%= f.label :capacity, 'how many can be fed?' %>
  </p>
  <p>
    <%= f.submit "publish" %>
  </p>
<% end %>