<h1>restaurants</h1>

<table>

<% for restaurant in @restaurants %>
  <tr>
    <td><%= link_to_name restaurant %></td>
    <td><%=h restaurant.phone %></td>
    <td><%= mail_to restaurant.email, restaurant.email, :encode => :javascript %></td>
    <td><%=h restaurant.address %></td>
    <td><%=h restaurant.address2 %></td>
    <td><%=h restaurant.city %></td>
    <td><%=h restaurant.state %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new restaurant', new_restaurant_path %>
