<p>
  <h2><%=h @restaurant.name %></h2>
</p>

<p>
  <%=h @restaurant.phone %>
  <%= mail_to @restaurant.email, @restaurant.email, :encode => :javascript %>
</p>

<p>
  <%=h @restaurant.address %><br>
  <%=h @restaurant.address2 %><br>
  <%=h @restaurant.city %>, 
  <%=h @restaurant.state %>
  <%=h @restaurant.zip %>
</p>
