<h1>Listing authorizations</h1>

<table>
  <tr>
    <th>List</th>
    <th>Restaurant</th>
  </tr>

<% for authorization in @authorizations %>
  <tr>
    <td><%=h authorization.list_id %></td>
    <td><%=h authorization.restaurant_id %></td>
    <td><%= link_to 'Show', authorization %></td>
    <td><%= link_to 'Edit', edit_authorization_path(authorization) %></td>
    <td><%= link_to 'Destroy', authorization, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New authorization', new_authorization_path %>
